{% extends "layout.html" %}

{% block content %}
<!--    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile pictures/default.jpg') }}">-->
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}
                {% if form.content.errors %}
                {{ form.content(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.content.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                     {{ form.content(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>

        <fieldset class="form-group">
            <div class="form-group">
                {{ form.order.label(class="form-control-label") }}
                {{ form.order(required=False,class="form-control form-control-lg", placeholder=task_count+1) }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>


{% endblock %}