{% extends "layout.html" %}

{% block content %}
<style>
table {
  border-collapse: collapse;
  width: 50%
}
th {
    font-size: 24px;
}
table, th, td {
  border: 1px solid black;
  padding: 15px;
}
</style>

<h1>UserName's Task List</h1>
<table>
    <tr>
        <th>name</th>
        <th>email</th>
    </tr>
    {% for row in todos %}
    <tr>
        <td>{{ row["name"] }}</td>
        <td>{{ row["email"] }}</td>
    </tr>
    {% endfor %}
</table>

<p1><br><br></p1>

<p1>add a task</p1>
<form action="{{url_for('add_task')}}" method="POST">
    <input name="task_index" type="text" placeholder="row number">
    <input name="name" type="text" placeholder="name">
    <input name="email" type="text" placeholder="email">
    <input type="submit">
</form>
<p1><br><br></p1>
<form action="{{url_for('create_account')}}">
<button type="submit">
    create account
</button>
</form>

{% endblock %}