{% extends "layout.html" %}

{% block content %}
<h1>{{current_user.username}}'s Task Lists</h1>
</table>
<table class="table table-bordered">
  <thead>
  <tr>
        <th>List Name</th>
        <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% for task_list in task_lists %}
    <tr>
        <td><a href="{{url_for('task_list',task_list_id=task_list.id)}}">{{ task_list.name }}</a></td>
        <td>{{ task_list.description }}</td>
    </tr>
    {% else %}
    <tr>
        <td>You Current't don't have a task list</td>
        <td> You can create one below</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<p1><br><br></p1>

<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control form-control-lg" , placeholder="name your list here") }}
                {% endif %}
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {% if form.description.errors %}
                    {{ form.description(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.description(class="form-control form-control-lg", placeholder="description of the Task List contents") }}
                {% endif %}
            </div>
        </fieldset>

        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

{% endblock %}