{% extends "layout.html" %}

{% block body %}
    <!-- the action refers to the flask function that will be called  !-->
    <form action="/add_task" method="POST">
        <input id="box" name="task" type="text" placeholder="Task Name">
        <input id="button" type="submit" disabled>
    </form>
    <script>
        document.querySelector("#box").onkeyup = function(){
            if (document.querySelector("#box").value === ''){
                document.querySelector("#button").disabled = true;
            } else {
                document.querySelector("#button").disabled = false;
            }
        }

    </script>
{% endblock %}